<!DOCTYPE html>
<html>
    <head>
        <title>Semantic tags</title>
    </head>
    <body>
        <header>
            <h1>VXLIT SOLUTION</h1>
            <nav style="background-color: rgb(181, 158, 141);">
                <a href="headings.html" style="padding-right: 100px;color: blueviolet;"></a>
                <a href="list.html" style="padding-right: 100px;">courses</a>
                <a href="forms.html" style="padding:-right: 100px;">register for course</a>
            </nav>
        </header>
        <main>
            <section style="background-color: aqua;">
                <h1>courses</h1>
                <article>
                    <h2>web development</h2>
                    <p>in this course you learn html, css, and java script and deployment using git and github</p>
                </article>
                <article>
                    <h2>
                        java full stack
                    </h2>
                    <p> in this course you learn fledged development of secure applications using html and java etc...</p>
                </article>
                            </section>        </main>
                            <footer>
                                <h4>@2026 all rights are reserved</h4>
                            </footer>
    </body>
</html>